header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 20px 50px;
    background-color: #c8c8ed;
    color: #fff;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f;
}

.hero {
    position: relative;
    float: right;
    margin: 0;
}
.logo {
    width: 60px;
    height: auto;
}

article{
    position: absolute;
}

h1 {
    position:relative;
    margin: 0;
    font-size: 24px;
    text-align:start;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    margin: 0 15px;
}

.nav-bar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-bar a:hover {
    color: #ffcc00;
}

.history {
    display: flex;
    text-decoration:underline;
    font-size: small;
    padding: 20px; 
    text-align: double;

  /* Add styles for the History section here */
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.adventures figure {
    margin: 0;
    text-align:center;
}

.adventures img {
    width: 100%;
    height: auto;
    
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
    background-color: #004d99;
    color: #fff;
}

footer .social-media {
    display: flex;
    gap: 10px;
}

footer .social-media img {
    width: 30px;
    height: auto;
}